1. Import libraries

In [12]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

2. Load dataset

In [13]:
df = pd.read_csv('world_population.csv')

3. Basic exploration

In [14]:
print(f'Shape of the dataset: {df.shape}')

Shape of the dataset: (234, 17)

In [15]:
print(f'\nGlimpse of the dataset:')
df.head().style.set_properties(**{'background-color': '#006837', 'color': '#e9c46a', 'border': '1.5px solid black'})

Glimpse of the dataset:

In [16]:
print(f'Information of the dataset:\n')
print(df.info())

Information of the dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB
None

In [17]:
print('Summary of the dataset:')
df.describe().style.set_properties(**{"background-color": "#006837","color":"#e9c46a","border": "1.5px solid black"})

Summary of the dataset:

In [18]:
df.describe(include = object).T.style.set_properties(**{"background-color": "#006837","color":"#e9c46a","border": "1.5px solid black"})

In [19]:
print(f'Null values of the dataset:')
df.isna().sum().to_frame().T.style.set_properties(**{"background-color": "#006837","color":"#e9c46a","border": "1.5px solid black"})

Null values of the dataset:

Insights:
- There is no missing value in this dataset.
- We will encode the categorical features into numerical form later.

4. Custom palette

In [20]:
sns.set_style('white')
sns.set(rc={'axes.facecolor': '#d5ce98', 'figure.facecolor': '#d5ce98'})
sns.set_context('poster', font_scale = .7)
palette = ["#006837","#1A9850","#66BD63","#A6D96A","#D9EF8B","#FFFFBF","#FEE08B","#FDAE61","#F46D43","#D73027","#A50026"]
palette_cmap = ["#A50026","#D73027","#F46D43","#FDAE61","#FEE08B","#FFFFBF","#D9EF8B","#A6D96A","#66BD63","#1A9850","#006837"]

5. Analysis

In [ ]:
print(f"Let's have a look on the population:")
_, axs = plt.subplots(2, 1, figsize = (20, 16))
plt.tight_layout(pad = 7.0)