# **1. Import libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

c:\Users\ACER\ANA\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# **2. Load dataset**

In [3]:
#A tally of confirmed and suspected cases in all countries
case = pd.read_csv("Monkey_Pox_Cases_Worldwide.csv")

#Timeline for confirmed cases with respect to date time and other details on every reported case
case_timeline = pd.read_csv("Worldwide_Case_Detection_Timeline.csv")

#Daily number of confirmed cases for all the countries where the virus has entered
case_country = pd.read_csv("Daily_Country_Wise_Confirmed_Cases.csv")

# **3. Basic exploration**

In [5]:
print(f"Shape of Case Dataset: {case.shape}")
print(f"\nGlimpse of Case Dataset:")
case.head().style.set_properties(**{"background-color": "#254441", "color": "#e9c46a", "border": "1.5px solid black"})

Shape of Case Dataset: (129, 6)

Glimpse of Case Dataset:

In [7]:
print(f"Information of Case Dataset:\n")
print(case.info())

Information of Case Dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             129 non-null    object
 1   Confirmed_Cases     129 non-null    float64
 2   Suspected_Cases     129 non-null    float64
 3   Hospitalized        129 non-null    float64
 4   Travel_History_Yes  129 non-null    float64
 5   Travel_History_No   129 non-null    float64
dtypes: float64(5), object(1)
memory usage: 6.2+ KB
None

In [8]:
print(f"Summary of Case Dataset:")
case.describe().T.style.set_properties(**{"background-color": "#254441", "color": "#e9c46a", "border": "1.5px solid black"})

Summary of Case Dataset:

In [10]:
case.describe(include=object).T.style.set_properties(**{"background-color": "#254441", "color": "#e9c46a", "border": "1.5px solid black"})

In [11]:
print(f"Null values of Case Dataset:")
case.isna().sum().to_frame().T.style.set_properties(**{"background-color": "#254441", "color": "#e9c46a", "border": "1.5px solid black"})

Null values of Case Dataset:

### **Insights**:
- There is no null value in the Case dataset.
- All countable values are in float datatype.
- These should be converted into int datatype for efficient calculation and representation.

# **4. Custom palette**

In [ ]:
sns.set_style("white")
sns.set(rc={"axes.facecolor": "#e9edc9", "figure.facecolor": "#e9edc9"})
sns.set_context("poster", font_scale=.7)

palette = ["#003C30","#01665E","#35978F","#80CDC1","#80CDC1","#F5F5F5","#e9c46a","#DFC27D","#BF812D","#8C510A","#543005"]
palette_cmap = ["#DFC27D","#e9c46a","#DA9B47","#00847A","#01665E","#254441"]