# **1. Import libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\ACER\ANA\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# **2. Load dataset**

In [2]:
data = pd.read_csv("datasets/survey lung cancer.csv")

# **3. Basic exploration**

In [3]:
print(f"Let's have a glimpse of the dataset.")
print(f"Shape of the dataset: {data.shape}")
print(f"\nGlimpse of the dataset:")
data.head().style.set_properties(**{"background-color": "#2a9d8f", "color": "white", "border": "1.5px solid black"})

Let's have a glimpse of the dataset.
Shape of the dataset: (309, 16)

Glimpse of the dataset:

In [4]:
print(f"Information about the dataset:\n")
print(data.info())

Information about the dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB
None

In [5]:
print(f"Summary of this dataset:")
data.describe().T.style.set_properties(**{"background-color": "#2a9d8f", "color": "white", "border": "1.5px solid black"})

Summary of this dataset:

In [6]:
data.describe(include=object).T.style.set_properties(**{"background-color": "#2a9d8f","color":"white","border": "1.5px  solid black"})

In [7]:
data.isna().sum().to_frame().T.style.set_properties(**{"background-color": "#2a9d8f","color":"white","border": "1.5px  solid black"})

In [8]:
dup = data[data.duplicated()].shape[0]
print(f"There are {dup} duplicated entries among {data.shape[0]} entries in this dataset.")

data.drop_duplicates(keep='first', inplace=True)
print(f"\nAfter removing duplicate entries, there are {data.shape[0]} entries in this dataset.")

There are 33 duplicated entries among 309 entries in this dataset.

After removing duplicate entries, there are 276 entries in this dataset.

In [9]:
print(f"Let's replace all the numeric values into categorical values for better and efficient visualization. All the 2's and 1's will be replaced by 'YES' and 'NO' accordingly. And replace 'M' and 'F' by 'Male' and 'Female' accordingly in the 'GENDER' column.")

Let's replace all the numeric values into categorical values for better and efficient visualization. All the 2's and 1's will be replaced by 'YES' and 'NO' accordingly. And replace 'M' and 'F' by 'Male' and 'Female' accordingly in the 'GENDER' column.

In [10]:
data_temp = data.copy()
data_temp["GENDER"] = data_temp["GENDER"].replace({"M": "Male", "F": "Female"})

for column in data_temp.columns:
    data_temp[column] = data_temp[column].replace({2: "Yes", 1: "No"})

data_temp.head().style.set_properties(**{"background-color": "#2a9d8f","color":"white","border": "1.5px  solid black"})

# **4. Custom palette**

In [ ]:
sns.set_style("whitegrid")
sns.set_context("poster", font_scale=.7)

palette = ["#1d7874","#679289","#f4c095","#ee2e31","#ffb563","#918450","#f85e00","#a41623","#9a031e","#d6d6d6","#ffee32","#ffd100","#333533","#202020"]
# sns.palplot(sns.color_palette(palette))
# plt.show()

# **5. Analysis**